build/
node_modules/
yarn.lock
.vscode/

# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.app
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.run.xml
*.synctex.gz
*.synctex(busy)

szopinski-cnc-diploma.pdf

*.sch-bak
fp-info-cache
*.kicad_pcb-bak
*.net
