.batch-execution {
    position: absolute;
    inset: 0;

    .slide-screen {
        display: flex;
        flex-direction: column;

        .dropzone {
            flex: 1;
        }
        .command-preview {
            flex: 1;
        }
        .file-info {
            display: flex;
            align-items: center;

            height: 2rem;
            margin-bottom: 1em;

            .file-name {
                flex: 1;

                margin: 0;
                font-size: 12pt;
                font-weight: 600;
            }
        }
    }
}
