.command-preview {
    border: 1px solid #BDBDBD;
    border-radius: 1px;

    display: block;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;

    .command {
        font-family: "Roboto Mono";
        padding: 0.5rem;

        color: #424242;
        border-bottom: 1px solid #E0E0E0;
        background-color: #FAFAFA;

        &:last-child {
            border-bottom: none;
        }
        .command-text {
            margin: 0;
            white-space: pre;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .status {
            float: right;
            position: relative;
            user-select: none;

            p {
                margin: 0;
            }
            &:hover .tooltip {
                display: unset;
            }
        }

        &.executing {
            color: #01579B;
            border-bottom-color: #81D4FA;
            background-color: #E1F5FE;
        }
        &.sent {
            color: #F57F17;
            border-bottom-color: #FDD835;
            background-color: #FFFDE7;
        }
        &.unsent {
            color: #E65100;
            border-bottom-color: #FFB74D;
            background-color: #FFF3E0;
        }
        &.error {
            color: #B71C1C;
            border-bottom-color: #EF9A9A;
            background-color: #FFEBEE;
        }
    }
    .command:last-child {
        border-bottom: none;
    }
}
