.draw-screen {
    margin: 0 auto;
    height: 100%;
    display: flex;

    .preview {
        width: 33%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
