html, body {
    height: 100%;
    margin: 0;

    font-family: Roboto, sans-serif;
    font-size: 10pt;
}
#root {
    height: 100%;

    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    font-family: inherit;
    border: 1px solid #BDBDBD;
    background-color: #FAFAFA;

    min-width: 6rem;
    padding: 0.25rem;

    &:hover {
        background-color: #EEEEEE;
    }
    &:active {
        border-color: #4FC3F7;
        background-color: #E1F5FE;
    }
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("../assets/roboto-regular.ttf");
}
@font-face {
    font-family: Roboto;
    font-weight: 600;
    src: url("../assets/roboto-medium.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    font-weight: 400;
    src: url("../assets/robotomono-regular.ttf");
}
