html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 10pt;
}
#root {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.status-bar {
    color: #FFFFFF;
    background: linear-gradient(#7B1FA2, #4A148C);

    height: 4rem;
    padding: 0 1em;

    display: flex;
    align-items: center;

    .machine {
        font-size: 12pt;
        margin: 0;

        .status-dot {
            display: inline-block;

            width: 0.8em;
            height: 0.8em;
            border-radius: 50%;
            margin-right: 0.5em;

            box-shadow: 0 0.1em 0.1em #212121;

            &.disconnected { background-color: #9E9E9E; }
            &.transition { background-color: #FFD600; }
            &.idle { background-color: #64DD17; }
            &.busy { background-color: #42A5F5; }
            &.error { background-color: #E53935; }
        }
    }
}

.main-content {
    flex: 1;
    margin: 1em;

    position: relative;
    overflow: hidden;

    h1 {
        font-size: 1.2rem;
        font-weight: 400;
    }
    h1 svg, h2 svg {
        width: 1.66em;
        height: 1.66em;

        vertical-align: middle;
        margin-right: 0.25em;
    }

    .slide-screen {
        position: absolute;
        inset: 0;

        animation-duration: 0.25s;
        animation-timing-function: ease;
    }
}

.micro-screen {
    margin: 0 auto;
    max-width: 24rem;
    height: 100%;

    display: flex;
    flex-direction: column;

    .option-list {
        overflow-y: auto;
        position: relative;

        &.full-length {
            flex: 1;
        }

        .placeholder {
            text-align: center;
        }
        & > *:nth-child(n + 1) {
            margin-bottom: 0.5rem;
        }
    }
    .footer-option {
        font-size: 0.75rem;
        text-align: center;
    }
}

button {
    cursor: pointer;
    font-family: inherit;
    border: 1px solid #BDBDBD;
    background-color: #FAFAFA;

    min-width: 5rem;
    padding: 0.25rem;

    &:hover {
        background-color: #EEEEEE;
    }
    &:active {
        border-color: #4FC3F7;
        background-color: #E1F5FE;
    }

    &.large-button {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 4rem;

        text-align: left;
        border-radius: 1px;

        transition-property: border-color, background-color;
        transition-duration: 0.1s;

        header {
            font-size: 1.1rem;
        }
        svg {
            width: 2.5rem;
            height: 2rem;
            margin-right: 0.5rem;
        }
    }

    &.link-button {
        display: inline;
        font-size: inherit;
        background: none;
        border: none;
        padding: 0;

        color: #29B6F6;
        text-decoration: underline;

        &.hover { color: #4FC3F7; }
    }
}

.loader {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.75);

    .spinner {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            animation: 0.75s linear infinite spin;
            width: 3em;
            height: 3em;
            display: block;
        }
    }
    .text {
        text-align: center;
        margin-bottom: 0;
    }
}

.modal {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.75);

    animation-duration: 0.25s;
    animation-timing-function: ease;

    .window {
        width: 100%;
        max-width: 22rem;

        border-radius: 0.5rem;
        box-shadow: 0 0 1rem #212121;

        .title {
            color: #FFFFFF;
            font-size: 1rem;

            background-color: #B71C1C;
            border-radius: 0.5rem 0.5rem 0 0;
            padding: 0.75rem;

            svg {
                width: 1.2rem;
                height: 1.2rem;
                vertical-align: bottom;
                margin-right: 0.25rem;
            }
        }
        .content {
            padding: 1rem;
            background-color: #FFFFFF;
            border-radius: 0 0 0.5rem 0.5rem;

            & > *:first-child { margin-top: 0; }
            & > *:last-child { margin-bottom: 0; }

            .close {
                text-align: center;
            }
        }
    }
}

@keyframes slide-in {
    from {
        transform: translateX(2rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-2rem);
        opacity: 0;
    }
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes spin {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("../assets/roboto-regular.ttf");
}
