html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 10pt;
}
#root {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.status-bar {
    color: #FFFFFF;
    background: linear-gradient(#7B1FA2, #4A148C);

    height: 4rem;
    padding: 0 1em;

    display: flex;
    align-items: center;

    .machine {
        font-size: 12pt;
        margin: 0;

        .status-dot {
            display: inline-block;

            width: 0.8em;
            height: 0.8em;
            border-radius: 50%;
            margin-right: 0.5em;

            box-shadow: 0 0.1em 0.1em #212121;

            &.disconnected { background-color: #9E9E9E; }
            &.transition { background-color: #FFD600; }
            &.idle { background-color: #64DD17; }
            &.busy { background-color: #42A5F5; }
            &.error { background-color: #E53935; }
        }
    }
}

.main-content {
    flex: 1;
    margin: 1em;

    position: relative;
    overflow: hidden;

    h1 {
        font-size: 1.2rem;
        font-weight: 400;
    }
    h1 svg, h2 svg {
        width: 1.66em;
        height: 1.66em;

        vertical-align: middle;
        margin-right: 0.25em;
    }

    .fade-screen {
        position: absolute;
        inset: 0;

        animation-duration: 0.25s;
        animation-timing-function: ease;
    }
}

.micro-screen {
    margin: 0 auto;
    max-width: 24rem;
    height: 100%;

    display: flex;
    flex-direction: column;

    .option-list {
        flex: 1;
        overflow-y: auto;

        & > .placeholder {
            text-align: center;
        }
        & > *:nth-child(n + 1) {
            margin-bottom: 0.5rem;
        }
    }
}

.large-button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em;

    font-family: inherit;
    font-size: 1.1rem;

    cursor: pointer;
    border: 1px solid #BDBDBD;
    background-color: #FAFAFA;
    border-radius: 1px;

    transition-property: border-color, background-color;
    transition-duration: 0.1s;

    &:hover {
        background-color: #EEEEEE;
    }
    &:active {
        border-color: #4FC3F7;
        background-color: #E1F5FE;
    }

    & > svg {
        width: 1.66em;
        height: 1.66em;
        margin-right: 0.25rem;
    }
}

.loader {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.75);

    & .spinner {
        display: flex;
        justify-content: center;
        align-items: center;

        & > svg {
            animation: 0.75s linear infinite spin;
            width: 3em;
            height: 3em;
            display: block;
        }
    }
    & .text {
        text-align: center;
        margin-bottom: 0;
    }
}

@keyframes fade-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-2rem);
        opacity: 0;
    }
}
@keyframes fade-in {
    from {
        transform: translateX(2rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes spin {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("../assets/roboto-regular.ttf");
}
